.arrow{
    width: 12.5px;
    height: 20px;
    margin: 20px;
    margin-bottom: 33px;
    }
    
    .titulo-h5{
        text-align: center;
        margin-top: 20px;
    }

    .banano{

        width: 70px;
        left: 73px;
        top: 285px;
        
    
    }

    .cont{

        background: #FCFCFC;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 16px;
        width: 140px;
        height: 143.91px;
        left: 0px;
        top: 11.27px;
        padding: 40px 40px;
        margin-left: 15px;
    }

    .coca{

        width: 35px;
    margin-left: 15px;
    
    }

    .carnes{

        width: 85px;
        margin-left: -10px;
        
    
    }

    .chiles{

        width: 90px;
        margin-left: -10px;
    
    }

    .boton-registro{

        background: #E0E0E0;
        color: black;
        border-color: #E0E0E0;
    }

    .menu{

        margin-bottom: 70px;
    }

    .row{

        margin-left: 0;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 46%;
        margin-bottom: 30px;
    }

    .cantidad{

    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #52CC6D;
    margin-left: 22px;
    margin-top: 4px;
    margin-bottom: 0.3rem;


    }

    .descripcion{

        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #000000;
        margin-left: 22px;
        margin-bottom: 0.5rem;

    }

    .boton-agregar{

        color: #FFFFFF;
        background-color: #52CC6D;
        border-color: #52CC6D;
        font-family: 'Inter', sans-serif;
        border-radius: 6px;
        margin-left: 35px;

    }

    .btn-primary:hover {
        color: #FFFFFF;
        background-color:#52CC6D;
        border-color:#52CC6D;
    }