

body{

   
    position: relative;
    background-attachment: fixed;
}

.logo-oficial
{
    width: 200px;
    margin-left: 90px;
    margin-top: 5px;
    margin-bottom: 72px;
}

.logo-bienvenida{

    width: 334px;
    height: 266px;
    margin-left: 25px;
}

.texto-Bienvenida{

     
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #18191F;
    margin-left: 42px;
    margin-top: -15px;
    margin-bottom: 119px;
}

.parrafo-1 {

    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #000000;
    text-align: center;
    font-size: 16px;
    margin-bottom: 43px

    
}

.boton-comenzar{

    color: #FFFFFF;
    background-color: #52CC6D;
    border-color: #52CC6D;
    font-family: 'Inter', sans-serif;
    border-radius: 8px;
    height: 50px;
    width: 341px;
    text-align: center;
    margin-left: -76px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 50px;



    }

