
.boton{


color: #FFFFFF;
background-color: #52CC6D;
border-color: #52CC6D;
font-family: 'Inter', sans-serif;
border-radius: 8px;
height: 50px;
width: 341px;
text-align: center;
margin-left: -76px;
font-weight: 700;
font-size: 18px;
line-height: 25px;
margin-bottom: 50px;
}