.arrow{
    width: 12.5px;
    height: 20px;
    margin: 20px;
    margin-bottom: 33px;
    }

    .titulo-h5{
        text-align: center;
        margin-top: 20px;
        margin-right: 35px;
    }

    .eliminar{

        float: right;
        margin-top: 10px;
    }



    .banano{

        width: 40px;
        margin-left: 25px;
      
        
    
    }

    .cont{

        background: #FCFCFC;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 16px;
        width: 140px;
        height: 143.91px;
        left: 0px;
        top: 11.27px;
        padding: 20px;
        margin-left: 15px;
    }

    .coca{

        width: 100px;
        
    
    }


    .cantidad{

        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #52CC6D;
        margin-left: 22px;
        margin-top: 4px;
        margin-bottom: 0.3rem;
    
    
        }
    
        .descripcion{
    
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.1px;
            color: #000000;
            margin-left: 22px;
            margin-bottom: 0.5rem;
    
        }


        .menu{

            margin-bottom: 70px;
        }
    
        .row{
    
            margin-left: 0;
            margin-bottom: 20px;

        }
    
        .col-6 {
            flex: 0 0 auto;
            width: 46%;
            margin-bottom: 30px;
        }

        .fila-2{
            margin-bottom: 350px;

        }















    .boton-continuar{


        color: #FFFFFF;
        background-color: #52CC6D;
        border-color: #52CC6D;
        font-family: 'Inter', sans-serif;
        border-radius: 8px;
        height: 50px;
        width: 267px;
        text-align: center;
        margin-left: 0px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 50px;
        }